In [1]:
# 라이브러리

import pandas as pd

In [2]:
# 데이터

df = pd.read_parquet('df.gzip')
df.shape

(27838899, 7)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27838899 entries, 4 to 67501978
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   event_time    datetime64[ns, UTC]
 1   event_type    object
 2   product_id    int64
 3   brand         object
 4   price         float64
 5   user_id       int64
 6   user_session  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(3)
memory usage: 1.7+ GB

In [5]:
# 결측치
df.isnull().sum()

event_time      0
event_type      0
product_id      0
brand           0
price           0
user_id         0
user_session    0
dtype: int64

In [17]:
df.head()

,event_time,event_type,product_id,brand,price,user_id,user_session
4,2019-10-01 00:00:04+00:00,view,1004237,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
9,2019-10-01 00:00:11+00:00,view,1004545,huawei,566.01,537918940,406c46ed-90a4-4787-a43b-59a410c1a5fb
11,2019-10-01 00:00:11+00:00,view,1005011,samsung,900.64,530282093,50a293fb-5940-41b2-baf3-17af0e812101
19,2019-10-01 00:00:19+00:00,view,1005135,apple,1747.79,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
20,2019-10-01 00:00:20+00:00,view,1003306,apple,588.77,555446831,6ec635da-ea15-4a5d-96b4-c8ca9d38f89f

# AARRR

* Acquisition: 웹사이트에 유입된 방문자 수

* Activation: 새로운 사용자의 가입 수 또는 앱 설치 수

* Retention: 이전에 가입한 사용자들이 다시 방문한 수

* Revenue: 결제 금액

* Referral: 추천 수

## Acquisition

웹사이트에 유입된 방문자 수

In [85]:
# Acquisition
# 웹사이트에 유입된 방문자 수
acquisition = df['user_id'].nunique()
acquisition

2438160

## Activation
새로운 사용자의 가입 수 또는 앱 설치 수

In [77]:
# view한 유저 수
df.loc[df['event_type'] == 'view', 'user_id'].nunique()

2437591

In [76]:
# 브랜드별 총 view 수
df[df['event_type'] == 'view'].value_counts('brand')

brand
samsung       8079940
apple         7151172
xiaomi        5188618
huawei        2089356
oppo          1203440
meizu          346797
vivo           259682
honor          180558
oneplus        172623
nokia          160637
sony           144566
tp-link         49888
lg              47808
bq              47526
doogee          39309
inoi            37767
google          34001
prestigio       27640
haier           23761
zte             19993
umi             19537
tecno           12775
asus            10558
htc              9650
blackberry       8352
jinga            7704
gionee           7582
irbis            6662
nubia            5070
fly              5030
texet            2934
leeco            2649
vertex           2257
philips          1302
micromax         1168
oukitel           754
leagoo            417
lenovo            396
hiper             115
ark               102
motorola           38
bravis              2
dtype: int64

In [79]:
# cart 한 유저 수
df.loc[df['event_type'] == 'cart', 'user_id'].nunique()

507409

In [81]:
# 브랜드별 총 cart 수
df[df['event_type'] == 'cart'].value_counts('brand')

brand
samsung       710273
apple         537804
xiaomi        256386
huawei        106939
oppo           65174
vivo            8911
meizu           6698
nokia           3000
honor           2942
oneplus         2367
sony            1850
tp-link         1271
inoi             975
prestigio        789
umi              559
zte              453
bq               447
haier            331
lg               300
doogee           283
htc              186
tecno            174
jinga            145
google           132
fly               94
asus              57
gionee            41
blackberry        26
nubia             26
texet             21
irbis             19
micromax          10
lenovo             9
vertex             2
philips            1
leeco              1
dtype: int64

In [80]:
# purchase한 유저 수
df.loc[df['event_type'] == 'purchase', 'user_id'].nunique()

321917

In [82]:
# 브랜드별 총 purchase 수

df[df['event_type'] == 'purchase'].value_counts('brand')

brand
samsung       304914
apple         242597
xiaomi         87329
huawei         43518
oppo           25971
vivo            3939
meizu           3770
honor           1254
nokia           1166
oneplus         1054
sony             952
tp-link          935
prestigio        475
inoi             398
zte              285
lg               212
bq               188
tecno            181
umi              173
haier            164
doogee           144
htc               87
fly               75
jinga             70
google            63
gionee            42
blackberry        29
asus              25
texet             22
irbis             15
nubia             14
philips            3
lenovo             2
micromax           1
dtype: int64

## Retention
이전에 가입한 사용자들이 다시 방문한 수

In [51]:
# Retention
# 이전에 가입한 사용자들이 다시 방문한 수

# 유입자 수 대비 view 수
retention = df.loc[df['event_type'] == 'view', 'user_id'].nunique() / acquisition
retention

0.9997666272927125

In [ ]:
# 유입자 수 대비 cart, purchase 수

In [ ]:
# veiw 수 대비 cart, purchase 수

## Revenue
총 결제 금액

In [57]:
revenue = df.loc[df['event_type'] == 'purchase', 'price'].sum()
revenue

334493463.55999994

In [70]:
# 브랜드별 결제 금액(판매액)

df[df['event_type'] == 'purchase'].groupby('brand').agg({'price':'sum'}).sort_values('price', ascending=False)

                   price
brand
apple       2.178121e+08
samsung     8.008368e+07
xiaomi      1.790439e+07
huawei      9.253369e+06
oppo        5.901501e+06
vivo        1.011852e+06
oneplus     7.051321e+05
meizu       4.806958e+05
sony        3.475300e+05
honor       3.141343e+05
nokia       2.061545e+05
tp-link     1.066577e+05
umi         8.392097e+04
lg          6.464917e+04
google      4.004279e+04
prestigio   2.593315e+04
zte         2.252800e+04
inoi        2.065080e+04
tecno       1.903057e+04
doogee      1.739214e+04
haier       1.407380e+04
bq          1.293276e+04
blackberry  1.125166e+04
htc         8.955780e+03
asus        5.994770e+03
jinga       4.515710e+03
gionee      3.944290e+03
fly         3.427950e+03
texet       2.407020e+03
nubia       2.081080e+03
lenovo      1.235040e+03
irbis       9.861500e+02
philips     2.522600e+02
micromax    8.485000e+01

## Referral
추천 수 (기존 사용자가 새로운 사용자 유입에 기여하는 것)

In [54]:
# Referral
# 추천 수

referral = df.loc[df['event_type'] == 'view', 'user_session'].nunique()
referral

7296964

# 리텐션 분석

## view 수 대비 cart, purchase 수

In [ ]:
# # 리텐션 분석

# 브랜드별 재구매율
# 월별 재구매율

# # 

# 가설을 어떻게 세워서 분석을 해야할까,,

In [ ]:
df['user_id'].nunique()

In [ ]:
df['user_id'].value_counts()

In [38]:
# user_id별 event_type 

et = df.pivot_table(index='user_id',
                   columns='event_type',
                   values='event_time',
                  aggfunc='count', fill_value=0).sort_values('user_id')
et

event_type  cart  purchase  view
user_id
31198833       0         0    18
41798457       0         0     1
88309646       0         0     1
94566147       1         0    21
94584874       0         0     1
...          ...       ...   ...
579968863      0         0     1
579969045      0         0    11
579969525      0         0     1
579969570      0         0     3
579969851      0         0     1

[2438160 rows x 3 columns]

In [41]:
et['cart / view'] = et['cart'] / et['view']
et.head()

event_type  cart  purchase  view  cart/view  cart / view
user_id
31198833       0         0    18   0.000000     0.000000
41798457       0         0     1   0.000000     0.000000
88309646       0         0     1   0.000000     0.000000
94566147       1         0    21   0.047619     0.047619
94584874       0         0     1   0.000000     0.000000

In [42]:
et['purchase / view'] = et['purchase'] / et['view']
et.head()

event_type  cart  purchase  view  cart/view  cart / view  purchase / view
user_id
31198833       0         0    18   0.000000     0.000000              0.0
41798457       0         0     1   0.000000     0.000000              0.0
88309646       0         0     1   0.000000     0.000000              0.0
94566147       1         0    21   0.047619     0.047619              0.0
94584874       0         0     1   0.000000     0.000000              0.0

In [45]:
et['purchase / cart'] = et['purchase'] / et['cart']
et.head()

event_type,cart,purchase,view,cart / view,purchase / view,purchase / cart
user_id,,,,,,
31198833,0,0,18,0.000000,0.0,NaN
41798457,0,0,1,0.000000,0.0,NaN
88309646,0,0,1,0.000000,0.0,NaN
94566147,1,0,21,0.047619,0.0,0.0
94584874,0,0,1,0.000000,0.0,NaN

In [48]:
et.sort_values('cart / view', ascending=False)

event_type,cart,purchase,view,cart / view,purchase / view,purchase / cart
user_id,,,,,,
518720341,2,0,0,inf,NaN,0.0
566023028,4,0,0,inf,NaN,0.0
556396381,1,0,0,inf,NaN,0.0
556623811,2,0,0,inf,NaN,0.0
577448808,6,0,0,inf,NaN,0.0
...,...,...,...,...,...,...
578763385,0,1,0,NaN,inf,inf
578766278,0,1,0,NaN,inf,inf
578792728,0,1,0,NaN,inf,inf
578938529,0,1,0,NaN,inf,inf
579850667,0,1,0,NaN,inf,inf

In [87]:
et.sample(30)

event_type,cart,purchase,view,cart / view,purchase / view,purchase / cart
user_id,,,,,,
528279270,0,0,5,0.000000,0.000000,NaN
566156164,0,0,2,0.000000,0.000000,NaN
569900623,0,0,1,0.000000,0.000000,NaN
545830244,9,2,52,0.173077,0.038462,0.222222
576072323,0,0,1,0.000000,0.000000,NaN
538245864,0,0,48,0.000000,0.000000,NaN
578253312,0,0,4,0.000000,0.000000,NaN
537623432,0,0,3,0.000000,0.000000,NaN
567372460,0,0,8,0.000000,0.000000,NaN
522370030,0,0,1,0.000000,0.000000,NaN
556213892,2,0,15,0.133333,0.000000,0.000000
573298144,1,1,5,0.200000,0.200000,1.000000
515705247,0,0,48,0.000000,0.000000,NaN
552272202,0,0,5,0.000000,0.000000,NaN
574521066,0,0,4,0.000000,0.000000,NaN
566875559,0,0,2,0.000000,0.000000,NaN
566356364,0,0,30,0.000000,0.000000,NaN
530459365,0,0,3,0.000000,0.000000,NaN
563180625,0,0,1,0.000000,0.000000,NaN
537235137,13,1,26,0.500000,0.038462,0.076923
513434204,0,0,1,0.000000,0.000000,NaN
520024413,2,0,43,0.046512,0.000000,0.000000
519904614,0,0,2,0.000000,0.000000,NaN
545513460,0,0,7,0.000000,0.000000,NaN
559394402,0,0,1,0.000000,0.000000,NaN
515020670,0,0,1,0.000000,0.000000,NaN
517936073,0,0,21,0.000000,0.000000,NaN
525325358,0,0,14,0.000000,0.000000,NaN
512799558,0,0,14,0.000000,0.000000,NaN
531157463,0,0,1,0.000000,0.000000,NaN

## 유저 수 추이

In [89]:
cohort_data = df.sample(1000).groupby(['user_id']).agg({'event_time': 'min'})
cohort_data.columns = ['cohort_start']
cohort_data.reset_index(inplace=True)
cohort_data['cohort_start'] = pd.to_datetime(cohort_data['cohort_start'])

In [91]:
df.sample(1000)['event_time'] = pd.to_datetime(df.sample(1000)['event_time'])
df.sample(1000)['event_date'] = df.sample(1000)['event_time'].dt.date
user_data = df.sample(1000).groupby(['user_id', 'event_date']).agg({'event_time': 'count'})
user_data.reset_index(inplace=True)
daily_active_users = user_data.groupby(['event_date']).agg({'user_id': pd.Series.nunique})
daily_active_users.columns = ['active_users']
daily_active_users.reset_index(inplace=True)

KeyError: 'event_date'

In [93]:
# 두 번 이상 구매한 사람
et[et.purchase >= 2] # 121838명

event_type,cart,purchase,view,cart / view,purchase / view,purchase / cart
user_id,,,,,,
369801696,4,3,4,1.000000,0.750000,0.750000
403013066,3,2,8,0.375000,0.250000,0.666667
403810661,4,2,9,0.444444,0.222222,0.500000
415873351,5,2,6,0.833333,0.333333,0.400000
420986446,2,2,9,0.222222,0.222222,1.000000
...,...,...,...,...,...,...
579925652,4,2,5,0.800000,0.400000,0.500000
579930581,3,2,3,1.000000,0.666667,0.666667
579938955,5,4,5,1.000000,0.800000,0.800000
579940508,1,2,3,0.333333,0.666667,2.000000
579944655,3,2,1,3.000000,2.000000,0.666667

In [7]:
df['user_id'].value_counts()

512365995    9125
512505687    5180
512388419    5157
513021392    4361
568804062    3528
             ...
556578080       1
541190141       1
572546553       1
521718155       1
579969851       1
Name: user_id, Length: 2438160, dtype: int64

In [16]:
df[df['user_id'] == 512365995].value_counts('event_type')

event_type
view    9109
cart      16
dtype: int64

In [19]:
# user_id별 event_type 

a = []
for i in df['user_id'].unique():
    b = df[df['user_id'] == i].value_counts('event_type')
    a.append(b)
    
pd.concat(a)

KeyboardInterrupt:

In [31]:
## 값이 너무 많아서 샘플을 뽑아 진행

sample = df.sample(10000)
sample.head()

,event_time,event_type,product_id,brand,price,user_id,user_session
42255023,2019-10-31 17:32:24+00:00,view,1004856,samsung,130.99,543792510,b9e3799f-49f7-4af7-bab2-0030336fe687
34979631,2019-11-16 08:56:13+00:00,view,1004858,samsung,128.42,539345285,4a22db05-f39c-44c7-87f2-ea9995d623d9
30696207,2019-10-23 02:57:58+00:00,view,1004665,samsung,851.88,554433287,285ec149-f96b-4746-a89b-8614872d1935
28842945,2019-10-21 15:59:08+00:00,view,1004142,xiaomi,205.67,513855516,5bcc46e3-d60b-46bd-9659-f3f307b3962f
23798573,2019-11-14 07:00:14+00:00,view,1002633,apple,378.39,512948107,aa4a25fb-9a89-438c-b160-0ff2846eb8c8

In [26]:
sample['user_id'].nunique()

9884

In [27]:
sample['user_id'].value_counts()

519125256    4
512720178    3
561174161    3
512505687    3
512388419    3
            ..
564123787    1
534650957    1
514312304    1
559353327    1
565658079    1
Name: user_id, Length: 9884, dtype: int64

In [28]:
# user_id별 event_type 

a = []
for i in sample['user_id'].unique():
    b = df[df['user_id'] == i].value_counts('event_type')
    a.append(b)
    
pd.concat(a)

event_type
view        398
view         72
view          5
cart          1
purchase      1
           ...
view         18
view         23
view         58
cart         10
purchase      3
Length: 18218, dtype: int64

In [ ]:
for i in sample

In [ ]:
유저별 구매수/view 수

In [30]:
sample.melt(id_vars='user_id', value_vars='event_type').sort_values('user_id')

        user_id    variable value
4743  381856230  event_type  view
6018  413880650  event_type  view
5356  430099323  event_type  view
7919  431111976  event_type  view
7025  434358865  event_type  view
...         ...         ...   ...
5841  579755022  event_type  view
2047  579763934  event_type  view
5253  579800315  event_type  cart
3528  579829784  event_type  view
9671  579846206  event_type  view

[10000 rows x 3 columns]

In [ ]:
df.melt(id_vars='user_id', value_vars='event_type', )

In [33]:
sample.pivot_table(index='user_id',
                   columns='event_type',
                   values='event_time',
                  aggfunc='count').sort_values('user_id')

event_type  cart  purchase  view
user_id
396823484    NaN       NaN   1.0
413880650    NaN       NaN   1.0
424531791    NaN       NaN   1.0
453060292    NaN       NaN   1.0
457734190    NaN       NaN   1.0
...          ...       ...   ...
579768250    NaN       NaN   1.0
579824947    1.0       NaN   NaN
579826242    NaN       NaN   1.0
579836676    NaN       NaN   1.0
579866843    NaN       NaN   1.0

[9873 rows x 3 columns]

In [10]:
df.groupby('user_id').agg({'event_type':'count'})

           event_type
user_id
31198833           18
41798457            1
88309646            1
94566147           22
94584874            1
...               ...
579968863           1
579969045          11
579969525           1
579969570           3
579969851           1

[2438160 rows x 1 columns]

In [36]:
df.pivot_table(index='user_id',
                   columns='event_type',
                   values='event_time',
                  aggfunc='count', fill_value=0).sort_values('user_id')

event_type  cart  purchase  view
user_id
31198833       0         0    18
41798457       0         0     1
88309646       0         0     1
94566147       1         0    21
94584874       0         0     1
...          ...       ...   ...
579968863      0         0     1
579969045      0         0    11
579969525      0         0     1
579969570      0         0     3
579969851      0         0     1

[2438160 rows x 3 columns]

In [83]:
cohort_data = df.sample(1000).groupby(['user_id']).agg({'event_time': 'min', 'event_date': 'min'})
cohort_data.columns = ['cohort_start', 'cohort_date']
cohort_data.reset_index(inplace=True)
cohort_data['cohort_start'] = pd.to_datetime(cohort_data['cohort_start'])
cohort_data['cohort_date'] = pd.to_datetime(cohort_data['cohort_date'])

KeyError: "Column(s) ['event_date'] do not exist"